<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.login.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.login.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prescriptionservlet</display-name>
    <servlet-name>prescriptionservlet</servlet-name>
    <servlet-class>com.login.prescriptionservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prescriptionservlet</servlet-name>
    <url-pattern>/prescriptionservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bloodtestservlet</display-name>
    <servlet-name>bloodtestservlet</servlet-name>
    <servlet-class>com.login.bloodtestservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bloodtestservlet</servlet-name>
    <url-pattern>/bloodtestservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urinetestservlet</display-name>
    <servlet-name>urinetestservlet</servlet-name>
    <servlet-class>com.login.urinetestservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urinetestservlet</servlet-name>
    <url-pattern>/urinetestservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xraytestservlet</display-name>
    <servlet-name>xraytestservlet</servlet-name>
    <servlet-class>com.login.xraytestservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xraytestservlet</servlet-name>
    <url-pattern>/xraytestservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLoginServlet</display-name>
    <servlet-name>PatientLoginServlet</servlet-name>
    <servlet-class>com.login.PatientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginServlet</servlet-name>
    <url-pattern>/PatientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>com.login.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegisterServlet</display-name>
    <servlet-name>PatientRegisterServlet</servlet-name>
    <servlet-class>com.login.PatientRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegisterServlet</servlet-name>
    <url-pattern>/PatientRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegisterServlet</display-name>
    <servlet-name>DoctorRegisterServlet</servlet-name>
    <servlet-class>com.login.DoctorRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegisterServlet</servlet-name>
    <url-pattern>/DoctorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bloodtestservlet_d</display-name>
    <servlet-name>bloodtestservlet_d</servlet-name>
    <servlet-class>com.login.bloodtestservlet_d</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bloodtestservlet_d</servlet-name>
    <url-pattern>/bloodtestservlet_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urinetestservlet_d</display-name>
    <servlet-name>urinetestservlet_d</servlet-name>
    <servlet-class>com.login.urinetestservlet_d</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urinetestservlet_d</servlet-name>
    <url-pattern>/urinetestservlet_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prescriptionservlet_d</display-name>
    <servlet-name>prescriptionservlet_d</servlet-name>
    <servlet-class>com.login.prescriptionservlet_d</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prescriptionservlet_d</servlet-name>
    <url-pattern>/prescriptionservlet_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xraytestservlet_d</display-name>
    <servlet-name>xraytestservlet_d</servlet-name>
    <servlet-class>com.login.xraytestservlet_d</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xraytestservlet_d</servlet-name>
    <url-pattern>/xraytestservlet_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bloodtestservlet_p</display-name>
    <servlet-name>bloodtestservlet_p</servlet-name>
    <servlet-class>com.login.bloodtestservlet_p</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bloodtestservlet_p</servlet-name>
    <url-pattern>/bloodtestservlet_p</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prescriptionservlet_p</display-name>
    <servlet-name>prescriptionservlet_p</servlet-name>
    <servlet-class>com.login.prescriptionservlet_p</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prescriptionservlet_p</servlet-name>
    <url-pattern>/prescriptionservlet_p</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urinetestservlet_p</display-name>
    <servlet-name>urinetestservlet_p</servlet-name>
    <servlet-class>com.login.urinetestservlet_p</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urinetestservlet_p</servlet-name>
    <url-pattern>/urinetestservlet_p</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xraytestservlet_p</display-name>
    <servlet-name>xraytestservlet_p</servlet-name>
    <servlet-class>com.login.xraytestservlet_p</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xraytestservlet_p</servlet-name>
    <url-pattern>/xraytestservlet_p</url-pattern>
  </servlet-mapping>
</web-app>